* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

body {
	font-family: monospace, serif, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
	transition: background 500ms ease;
}

p, li, figcaption {
	font-size:  20px;
	line-height: 30px;
}

header {
	padding-top: 40px;
}

footer {
	padding-top: 20px;
	padding-bottom:60px
}

/* adjusting spacing */

#center {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#row {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#box {
	margin:30px;
	width:250px;
	height:250px;
}

#box figcaption {
	opacity: 0;
}

#box:hover {
	border-style: inset;
}

#box:hover figcaption {
	opacity: 100;
}

#box:hover img {
	opacity:0;
}

#ornament {
	padding-left: 10px;
	padding-right:10px;
}

h1 {
	margin-bottom:  20px;
}

figcaption {
	height:10px;
	position:relative;
	top:-250px;
}

h3 {
	margin-top:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

a, a:visited {
	transition: all 500ms ease;
	color: rgb(74, 124, 165);
  }
  
  a:hover {
	color: rgb(255, 255, 255);  
  }

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/